# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true

[*.{md,toml,yaml,yml}]
indent_style = space
indent_size = 2
insert_final_newline = true
x-soft-wrap-text = true

[*.{ini,py}]
charset = utf-8
indent_style = space
insert_final_newline = true
indent_size = 4
