ci:
  autoupdate_commit_msg: 'build(pre-commit.ci): pre-commit autoupdate'
  skip: [pylint]

repos:
  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
        additional_dependencies:
          - '.[python2]'
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        additional_dependencies:
          - '.[toml]'
        exclude: ^(src/com/|src/java/|src/javax/)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
