name: ci

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install 'mypy[python2]'
        python -m pip install pylint
    - name: Analysing the code with mypy
      run: |
        mypy src
    - name: Analysing the code with pylint
      run: |
        pylint src
