name: ci

on:
  pull_request:
  push:
    branches:
      - main

env:
  PYTHON_VERSION: "3.10"

jobs:
  test:
    name: tox
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Run tests
      run: |
        tox
