name: ci

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  pylint:
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@v6
    with:
      path: src
