name: pr-build

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/pr-build.yml
      - '**/pyproject.toml'
      - '**/requirements.txt'
      - '**/tox.ini'
      - src/**
      - stubs/stubs/**
      - setup.cfg
      - setup.py
      - tests/**
  workflow_call:

jobs:
  tox-package:
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v6

  tox-stubs:
    uses: coatl-dev/workflows/.github/workflows/tox.yml@v6
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs
