name: pr-build

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/pr-build.yml
      - src/**
      - tests/**
      - pyproject.toml
      - requirements.txt
      - setup.cfg
      - tox.ini

jobs:
  tox:
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v5
