name: publish

on:
  release:
    types:
      - published

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@v2
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@v2

  tox:
    needs:
      - pre-commit
      - pylint
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v2

  pypi-publish:
    needs:
      - pre-commit
      - pylint
      - tox
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@v2
    with:
      python-version: '2.7'
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN_IGNITION_API_PKG }}
